body {
	/* background-color: grey; */
}

ul {
    padding: 0px;
    background-color: grey;
}

li {
    background-color: white;
}

.nav li {
    display: inline;
    background-color: white;
}


#primary-nav {
	width: 100%;
	background-color: white;
	text-align: center;
}

#footer-nav {
	width: 100%;
	background-color: white;
	text-align: center;
}